<div class="title-bar-left">
	{{#if showBack}}
		<a href="#" id="details-back">
			<i class="fa fa-chevron-left" aria-hidden="true"></i> Back
		</a>
	{{/if}}

	<span class="title-bar-title">
		<i class="fa fa-users" aria-hidden="true"></i> Title
	</span>
</div>
<div class="title-bar-right">
</div>
